# Configuration for file and execution sequence
file_name = /mnt/NVMe/bigfile1
file_size = 1073741824  # File size in bytes 
iterations = 5
PagePatrol = 1
PF_Log_File_Name = ./page_faults

execution_sequence = SmallRegionRandomAccess SmallRegionRandomAccess SequentialAccessWithGaps 

# Parameters for each access pattern
[SequentialAccessWithGaps]
    gap = 1

[CyclicBurstsAccess]
    window = 256
    stride = 4096

[SmallRegionRandomAccess]
    repeats = 1000000
    region_size = 30  # Percentage of the file to access

# Note: RandomOlderPageReaccess and SmallRegionRandomAccess are the same access patterns
